.AppStyling {
  font: 'Roboto', sans-serif;
  height: 100%;
  margin: 15px;
  text-align: center;
  justify-content: center;
  background-color: lightgrey;
}

.singleinput {
  width: 1000px;
  height: 30px;
}

.FormStyling {
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 75px;
  margin: 35px;
  align-content: center;
  border-bottom: 50px blue;
  background-color: lightblue;
}

.header {
  margin: 25px;
  border-radius: 12%;
  border-color: blue;
  border: 25px;
}

.singleinput {
  margin: 6px;
}
